* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(192, 197, 197);
  font-family: 'Poppins', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 100vh;
  margin: auto;
  border: solid 1px rgb(197, 193, 193);
  background-color: white;
  border-radius: 10px; 
}

/* Header */
.navbar {
  height: 70px;
  display: flex;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 82.02px;
  height: 25.352px;
  margin: 1.5em auto 1.7em 2.5em;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photogrid {
  width: 70%;
  height: 60%;
  margin: 40px 90px 20px 85px;
}

.hero-header{
  margin: 10px 0px 10px 40px;
  font-size: 38px;
}

.hero-blurb {
  margin: 0px 250px 25px 40px;
  font-size: 18px;
  line-height: 1.2;
}

/* Expriences */
.card {
  margin: 40px 40px;
}

.katie {
  width: 220px;
  height: 285px;
  border-radius: 9px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  margin: 2px 0; 
}

.star {
  height: 14px;
  width: 14px;
}

.card-rating,
.card-reviews {
  margin: 0 2px; 
  font-size: 13px;
}